.input{
    display: flex;
    justify-content: center;
}
input{
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    border-radius: 10px;
}

@media(max-width: 700px){
    input{
        width: 60%;
    }
}